.contenedor-notify{
    position: fixed;
    width: 300px;

}
/* Posiciones */
.contenedor-notify.top-right{
    top: 10px;
    right: 10px
}
.contenedor-notify.bottom-right{
    bottom: 10px;
    right: 10px
}
.contenedor-notify.top-left{
    top: 10px;
    left: 10px
}
.contenedor-notify.bottom-left{
    bottom: 10px;
    left: 10px
}
.contenedor-notify.top-full-width{
    width: 95%;
    top: 5px;
    left: 0;
    right: 0;
    margin: auto;
}
.contenedor-notify.bottom-full-width{
    width: 95%;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: auto;
}
/* notificaciones */
.notify{
    position: relative;
    background-color: #000000;
    display: flex;
    width: 100%;
    min-height: 50px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999999;
    opacity: 0;
    color: #fff;
    margin-bottom: 5px;
    transition: 0.3s ease-in opacity;
    /* pointer-events: none; */
}
.notify *{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
.notify.show{
    opacity: 0.8;
    transition: 0.3s ease-in opacity;
}
.notify:hover{
    opacity: 1;
    box-shadow: 0 0 12px #000;
}

/* Estilos */
.notify-infor{
    background-color: #2F96B4
}
.notify-success{
    background-color: #51A351;
}
.notify-warning{
    background-color: #F89406
}
.notify-error{
    background-color: #BD362F
}
/* estilo contenido */
.notify_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    padding: 5px;
    font-size: 25px;
}
.notify_content{
    padding: 10px;
    padding-left: 0;
    font-family: sans-serif;
    font-size: 14px;
}
.notify_content_title{
    font-weight: bold;
    /* margin-bottom: 5px; */
}

/* boton para cerrar */
.notify_btn-close{
    display: inline-block;
    position: absolute;
    right: .1em;
    top: .1em;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    border: none;
    color: #FFF;
    -webkit-text-shadow: 0 1px 0 #fff;
    text-shadow: 0 1px 0 #fff;
}
.notify_btn-close:hover{
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
}